.footer{
    background-color: rgb(27, 26, 26); 
    opacity: 0.95;
    padding: 50px;
    
}
.media{
    width: 30px;
    height: 30px;
    color:#ff0052;
    margin: 5px;
    text-align: center;
}
.center{
    text-align: center;
}
.footer-content{
    margin: 100px auto 40px;
    text-align: center;
}